# Keep keep module directory
!puppet/production/modules/.gitkeep 

# Dont store lock file
puppet/production/Puppetfile.lock

# Dont store librarian config
puppet/production/.librarian

# Dont store librarian config 
external-modules/.librarian

# Dont store lock file 
external-modules/Puppetfile.lock

# Dont track rpms 
artifacts/*
!artifacts/.gitkeep

